<div >
  Hello World!
  </div>
<div StylingDiv>
  <h3>{{ messageFromChild }}</h3>
</div>
<hr/>
<div >
  <h3>value => {{ promise | async}}</h3>
</div>
<button (click)="setBtnClick()"> Set Parent Details</button>
<div>
  <app-child [message]="parentMessage" (childMsg)="showMessage($event)"></app-child>
</div>
<hr/>

<form class="form-inline">
  <div class="form-group">
    <input type="search" class="form-control" placeholder="Enter Search String" #search>
  </div>
  <button type="button" class="btn btn-primary" (click)="doSearch(search.value)">Search</button>
  </form>